<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <thymeleaf th:replace="header :: header"/>

</head>

<body>

<div class="search_panel active">
    <div th:replace="action :: action"></div>

    <form class="form-horizontal" th:object="${searchDto}" th:action="@{'/search'}" method="post">
        <div class="autocomplete">BUDGET
            <input id="budget" type="number" class="destination search_input"
                   required="required" th:field="*{budget}"/>
        </div>
        <!--	<div class="autocomplete">JUMPS
                <input id="budget" type="number" class="destination search_input"
                    required="required">
            </div> -->
        <div class="autocomplete">ORIGIN
            <input id="origin" type="text" class="destination search_input" required="required"
                   th:field="*{origin}"/>
        </div>
        <div>
            <div>DATE</div>
            <input type="date" class="check_out search_input" placeholder="YYYY-MM-DD"
                   required="required" th:field="*{date}"/>
        </div>
        <button class="button search_button">search</button>
    </form>
</div>

</div>
<script src="/resources/current_flights.js"></script>
<script src="/resources/autocomplete.js"></script>
<script>
    autocomplete(document.getElementById("origin"), countries);
</script>

<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"/>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script src="/resources/js/jquery-3.2.1.min.js"></script>

<script src="/resources/styles/bootstrap4/popper.js"></script>
<script src="/resources/styles/bootstrap4/bootstrap.min.js"></script>
<script src="/resources/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
<script src="/resources/plugins/easing/easing.js"></script>
<script src="/resources/js/custom.js"></script>

</body>

</html>